<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Desarrollo de aplicaciones en red</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://alumnosunir-my.sharepoint.com/:b:/g/personal/fernando_zambrano314_comunidadunir_net/EY_gQS23zxlLtZ0h8AGFADwBrXJYNGT9ZrL8dlVIFounBw?e=qJ8qtJ" target="_blank">Memomoria explicativa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/fernandosteven95/DAR-Actividad02" target="_blank">Repositorio GitHub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://angular.dev" target="_blank">Angular</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Bootstrap</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 text-center custom-column">
      <h1 class="display-1" style="color: var(--primary-color);">Tutorial básico de Angular</h1>
    </div>
    <div class="col-md-6 text-center">
      <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo" class="img-fluid" style="max-width: 200px;">
    </div>
  </div>
</div>

<nav>
  <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-justificacion-tab" data-bs-toggle="tab" data-bs-target="#nav-justificacion" type="button" role="tab" aria-controls="nav-justificacion" aria-selected="true">¿Por qué Angular?</button>
    <button class="nav-link" id="nav-instalacion-tab" data-bs-toggle="tab" data-bs-target="#nav-instalacion" type="button" role="tab" aria-controls="nav-instalacion" aria-selected="false">Instalación</button>
    <button class="nav-link" id="nav-primeros-pasos-tab" data-bs-toggle="tab" data-bs-target="#nav-primeros-pasos" type="button" role="tab" aria-controls="nav-primeros-pasos" aria-selected="false">Primeros Pasos</button>
    <button class="nav-link" id="nav-utilizacion-tab" data-bs-toggle="tab" data-bs-target="#nav-utilizacion" type="button" role="tab" aria-controls="nav-utilizacion" aria-selected="false">¿Para que sirve?</button>
    <button class="nav-link" id="nav-explicacion-tab" data-bs-toggle="tab" data-bs-target="#nav-explicacion" type="button" role="tab" aria-controls="nav-explicacion" aria-selected="false">Formas de usar</button>
    <button class="nav-link" id="nav-conclusiones-tab" data-bs-toggle="tab" data-bs-target="#nav-conclusiones" type="button" role="tab" aria-controls="nav-conclusiones" aria-selected="false">Conclusiones y Ejemplo</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-justificacion" role="tabpanel" aria-labelledby="nav-justificacion-tab" tabindex="0">
    <app-justificacion></app-justificacion>
  </div>
  <div class="tab-pane fade" id="nav-instalacion" role="tabpanel" aria-labelledby="nav-instalacion-tab" tabindex="0">
    <app-instalacion></app-instalacion>
  </div>
  <div class="tab-pane fade" id="nav-primeros-pasos" role="tabpanel" aria-labelledby="nav-primeros-pasos-tab" tabindex="0">
    <app-primeros-pasos></app-primeros-pasos>
  </div>
  <div class="tab-pane fade" id="nav-utilizacion" role="tabpanel" aria-labelledby="nav-utilizacion-tab" tabindex="0">
    <app-utilizacion></app-utilizacion>
  </div>
  <div class="tab-pane fade" id="nav-explicacion" role="tabpanel" aria-labelledby="nav-explicacion-tab" tabindex="0">
    <app-explicacion></app-explicacion>
  </div>
  <div class="tab-pane fade" id="nav-conclusiones" role="tabpanel" aria-labelledby="nav-conclusiones-tab" tabindex="0">
    <app-conclusiones></app-conclusiones>
  </div>
</div>
